<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    metadata-complete="true" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Customer Server</display-name>
    <description>
        Aplikasi Customer Server
    </description>

    <servlet>
        <servlet-name>CustomerListServlet</servlet-name>
        <servlet-class>com.muhardin.endy.belajar.android.server.CustomerListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CustomerListServlet</servlet-name>
        <url-pattern>/customer/list</url-pattern>
    </servlet-mapping>

</web-app>
